.contact {
    & header {
        & .menu {
            & .contact-menu {
                &::after {
                    left: 0%;
                    width: 100%;
                }
            }
        }
    }

    & main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "hero"
            "contact-area"
            "location"
            "other-information";
        gap: 1rem;
        
        & section.hero {
            grid-area: hero;

            & h1 {
                font: var(--title-md);
                text-align: center;
                line-height: 3rem;
                filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
            }
            
            & p {
                font: var(--text-md);
            }
        }

        & section.contact-area {
            grid-area: contact-area;
            
            & h1 {
                font: var(--title-md);
                text-align: center;
                line-height: 2.5rem;
                filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
            }

            & p {
                font: var(--text-md);
            }

            & form {
                & label {
                    display: grid;
                    gap: .25rem;
                    font: var(--text-sm);

                    & input, select, textarea {
                        padding: .5rem;
                        height: 2.5rem;
                        border: 1px solid var(--gray-light-color);
                        border-radius: .5rem;
                        filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
                        font: var(--text-sm);
                    }
                }

                & button {
                    border: none;
                }
            }
        }

        & section.location {
            & h2 {
                font: var(--title-sm);
                text-align: center;
                line-height: 3rem;
                filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
            }


        }

        & section.other-information {
            grid-area: other-information;
            width: 100%;

            & h2 {
                font: var(--title-sm);
                text-align: center;
                line-height: 3rem;
                filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
            }

            & .location {
                & img {
                    border: 1px solid var(--gray-light-color);
                    border-radius: 1rem;
                    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
                }
            }

            & .contact-information {
                & li {
                    width: 100%;
                    & img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    & span {
                        font: var(--text-sm);
                    }
                }
            }
        }
    }

    @media (width >= 44em) {
        & main {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "hero hero"
                "contact-area location"
                "other-information other-information";

            & section.location {
                & h2 {
                    display: none;
                }
            }

            & section.other-information {
                & h2 {
                    display: none;
                }
                
                & .contact-information {
                    flex-direction: row;
                }
            }
        }
    }
}