.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-0\.5 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.container {
    padding: 1rem;
}

.logo {
    .images {
        position: relative;
        width: 3.5rem;
        height: 3.5rem;

        img:first-child {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.2));
            z-index: 1;
            position: relative;
        }

        img:last-child {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    .text {
        & span {
            font: var(--logo);
            color: var(--green-dark-color);
            letter-spacing: .05rem;
            filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
        }
    }
}

.menu {
    & a {
        font: var(--text-md);
        color: var(--green-darker-color);
        filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
        position: relative;

        &::after {
            position: absolute;
            content: "";
            background-color: var(--orange-color);
            border-radius: 999px;
            bottom: -2px;
            left: 50%;
            width: 0%;
            height: 2px;
            transition: left 300ms ease, width 300ms ease;
        }

        &:hover {
            &::after {
                left: 0%;
                width: 100%;
            }
        }
    }
}